@model IEnumerable<Cinema.Models.Movie>;

<title>CGV Cinemas</title>

<div class="text-center">
  <h3 class="py-4 border-bottom border-2 border-dark ">Now Showing</h3>
  @if (Model.Count() > 0)
  {
    <div class="container pt-3">
      <div class="row row-cols-3">
        @foreach (var movie in Model)
        {
          <div class="col pt-4">
            <img class="w-75" src="@movie.Image" alt="">
            <h5 class="pt-3">@movie.Name</h5>
            <p class="fs-5 text-muted">@movie.NameVie</p>
            <div>
              <span class="fw-bolder">Thể loại:</span>
              <span>@movie.Category</span>
            </div>
          </div>
        }
      </div>
    </div>
  }
  else
  {
    <h1 class="text-center">No Movie To Show</h1>
  }
</div>

@* <div class="text-center">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
  type="button" role="tab" aria-controls="pills-home" aria-selected="true">
  <h3>Now Showing</h3>
  </button>
  </li>
  <li class="nav-item" role="presentation">
  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
  <h3>Coming Soon</h3>
  </button>
  </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
  @if (Model.Count() > 0)
  {
  <div class="container pt-4">
  <div class="row">
  @foreach (var movie in Model)

  {
  <div class="col">
  <img class="w-75" src="@movie.Image" alt="">
  <h5 class="pt-3">@movie.Name</h5>
  <p class="fs-5 text-muted">@movie.NameVie</p>
  <div>
  <span class="fw-bolder">Thể loại:</span>
  <span>@movie.Category</span>
  </div>
  </div>

  }
  </div>
  </div>

  }
  else
  {
  <h1 class="text-center">No Movie To Show</h1>

  }
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

  @if (Model.Count() > 0)
  {
  <div class="container pt-4">
  <div class="row">
  @foreach (var movie in Model)

  {
  <div class="col">
  <img class="w-75" src="@movie.Image" alt="">
  <h5 class="pt-3">@movie.Name</h5>
  <p class="fs-5 text-muted">@movie.NameVie</p>
  <div>
  <span class="fw-bolder">Thể loại:</span>
  <span>@movie.Category</span>
  </div>
  </div>

  }
  </div>
  </div>

  }
  else
  {
  <h1 class="text-center">No Movie To Show</h1>

  }

  </div>
  </div>
  </div> *@